
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <!--<div>
    <h1>DataBinding Basicexercises</h1>
    <h4>{{heading}}</h4>
    <h4>MATHEMATICAL:{{5+5}} {{10-5}} {{10*10}} {{10/5}}</h4>
    <h4>METHOD:{{getname()}}</h4>
    <h4>BUILDIN METHOD:{{heading.length}}</h4>
    <img src="{{image}}">
  </div>
  <div><app-left></app-left></div>
  <div style="margin-left: 900px;"><app-right></app-right></div>
 
 <div >
  <button type="button" class="btn btn-danger">button</button>
 </div>-->

 <app-navbar></app-navbar>
 <app-left></app-left>
 <app-right></app-right>
 
 
</body>
 </html>
